// colors
$black: #000;
$background: $black;
$background-transparent: rgba(0, 0, 0, 0.3);
$gray-transparent: rgba(20, 20, 20, 0.8);
$white: #fff;
$very-light-gray: #ddd;
$light-gray: #aaa;
$tabs-gray: #0e0e0e;
$middle-gray: #616161;
$gray: #444;
$menu-background: #1c1d1f;
$menu-gray: #9b9b9b;
$menu-text: #757575;
$dark-gray: #222;
$footer-gray: #1c1d1f;
$primary-red: #d8003e;
$secondary-red: #ff1744;
$requests-background: #fafafa;
$payments-background: #e9e8e8;

// z-index
$menu-z: -1;
$navbar-z: 50;
$contact-bar-z: 50;
