@import 'variables';
@import 'utils';

html {
  font-family: 'Montserrat';
}

h1,
h2 {
  font-family: 'Poppins';
}

.black-bg {
  color: $white;
  background: $background;
}

.top-padding {
  padding-top: 5em;
}

.diagonal-title {
  position: relative;
  z-index: 0;
  display: inline-block;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: left;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1em;
    height: 1.2em;
    background: $secondary-red;
    content: '';
    transform: skewX(-20deg);
  }
}

@import 'elements';
@import 'components';
@import 'pages';
