= wrap_layout :layout do
  article.post
    header.post__header style="background-image: url(#{current_article.data.cover_image}"
      h2.diagonal-title
        = current_article.data.title
    aside.share-bar
      .share-bar__content
        ' Comparte en:
        = link_to "https://www.facebook.com/sharer.php?u=https://www.tusautopartes.com.mx#{current_page.url}",
        :class => 'share-bar__icon' do
          span.fa-stack
            i.fa.fa-square-o.fa-stack-2x
            i.fa.fa-facebook.fa-stack-1x
        = link_to "https://twitter.com/intent/tweet?url=https://www.tusautopartes.com.mx#{current_page.url}",
        :class => 'share-bar__icon' do
          span.fa-stack
            i.fa.fa-square-o.fa-stack-2x
            i.fa.fa-twitter.fa-stack-1x
        = link_to "https://plus.google.com/share?url=https://www.tusautopartes.com.mx#{current_page.url}",
        :class => 'share-bar__icon' do
          span.fa-stack
            i.fa.fa-square-o.fa-stack-2x
            i.fa.fa-google-plus.fa-stack-1x
    main.post__text
      = yield
