doctype html
html lang="es-MX"
  head
    meta charset="utf-8"
    meta(name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
      = current_page.data.title || "Repsol"
    /! Google Tag Manager
    javascript:
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date()
      .getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
      j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);})
      (window,document,'script','dataLayer','GTM-P24QJMK');
    /! End Google Tag Manager
    link(rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css")
    link(rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:200.300,400,700|Poppins:400,600,700")
    link(rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous")
    = stylesheet_link_tag "style"
  body(class="#{current_page.data.page_class || ''}")
    /! Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-P24QJMK"
      height="0"
      width="0"
      style="display:none;visibility:hidden")
    /! End Google Tag Manager (noscript)
    = partial "partials/navbar"
    = yield
    = partial "partials/footer"
    = partial "partials/contact-bar"
    = javascript_include_tag "site"
    - if current_page.data.has_map
      script(async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfij3wXamNCpm2ppGe-vcahtyotFs43qA&callback=initMap")
