nav.contact-bar
  div
    = link_to ("https://api.whatsapp.com/send?phone=#{data.contact.whatsapp}") do
      i.fa.fa-whatsapp.fa-2x
  hr.contact-bar__division
  / div
    = link_to ("http://m.me/#{data.contact.messenger}") do
        i.fa.fa-commenting.fa-2x
    hr.contact-bar__division
  div
    = link_to ("https://www.google.com/maps/dir/?api=1&destination=#{data.contact.place}&destination_place_id=#{data.contact.placeId}") do
      i.fa.fa-location-arrow.fa-2x
  hr.contact-bar__division
  div
    = link_to ("tel:#{data.contact.phone}") do
      i.fa.fa-volume-control-phone.fa-2x
