footer.site-footer
  .site-footer__logo
    = partial 'images/logo-repsol-white.svg'
  .site-footer__social-media
    = link_to ("https://www.facebook.com/RepsolAutopartes") do
      span.fa-stack
        i.fa.fa-circle-o-notch.fa-stack-2x
        i.fa.fa-facebook.fa-stack-1x
    = link_to ("https://api.whatsapp.com/send?phone=5212224492641") do
      span.fa-stack
        i.fa.fa-circle-o-notch.fa-stack-2x
        i.fa.fa-phone.fa-stack-1x
  .site-footer__info
    ' Boulevard Esteban de Antuñano 2905
    br
    ' 72160 Puebla de Zaragoza
    br
    ' Tel: 222 289 8160
    br
