header.navbar
  .navbar__bar
    h3.navbar__logo
      = link_to ("/index.html") do
        = image_tag "logo-repsol.png"
        span.navbar__slogan Tu distribuidor de autopartes
    #menu-button.menu-button
      span
      span
      span
    = link_to 'Contáctanos',
      '/contacto.html',
      :class => 'navbar__cta button'
  nav#menu.navbar__menu
    h4 menú
    ul
      li
        = link_to "Inicio", "/index.html"
      li
        = link_to "Nosotros", "/nosotros.html"
      li
        = link_to "Blog", "/blog.html"
      li
        = link_to "Contacto", "/contacto.html"
