body {
  @include before(30em) {
    padding-bottom: 70px;
  }
}

.contact-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $contact-bar-z;
  display: none;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  color: $white;
  background: $primary-red;

  @include before(30em) {
    display: flex;
  }

  div {
    flex: 1 1 auto;
    width: 100%;
    padding: 1em;
    text-align: center;
  }

  &__division {
    height: 60%;
    margin: auto;
  }

  a {
    color: inherit;
  }
}

