.form {
  width: 100%;

  input,
  textarea {
    display: block;
    width: 100%;
    margin: 1em auto 1.5em;
    outline: none;
  }

  input {
    border: 0;
    border-bottom: 1px solid $light-gray;
  }

  textarea {
    border: 1px solid $light-gray;
  }

  button {
    width: 100%;
    padding: 1em;
    font-family: 'Poppins';
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.14em;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    background: $secondary-red;
    border: 0;
  }
}
