.hero-image {
  width: 100%;
  height: 90vh;
  min-height: 450px;
  color: $white;
  background: $background;

  @include before(30em) {
    height: 80vh;
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 2em;
  }

  &__text {
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-size: 2.4em;
    font-weight: 700;
    line-height: 0.9;
    text-align: left;

    @media (min-width: 720px) {
      font-size: 3em;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 1.5em 2em;
    margin: 2em auto;
    color: $white;
    background: $gray-transparent;
    border: 1px solid $gray;
    border-bottom: 1px solid $primary-red;

    @media(min-width:420px) {
      float: left;
      width: 50%;
      max-width: 300px;
    }
  }
}
