.info-box {
  padding: 1em;
  margin: 1em auto;
  font-family: 'Poppins';
  font-weight: 600;
  border: 1px solid $background;

  @media (min-width: 420px) {
    width: 250px;
  }

  @media (min-width: 720px) {
    float: left;
    width: 30%;
    margin: auto 1em auto 0;
    border: 0;
  }

  &__number {
    margin: auto;
    font-size: 2.75em;
  }

  &__item {
    margin: auto;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  img {
    width: 75%;
    max-width: 150px;
  }
}
