.navbar {
  position: fixed;
  top: 0;
  z-index: $navbar-z;
  width: 100%;
  font-size: 0.8em;
  color: $white;
  text-transform: uppercase;
  background: $menu-background;

  &__bar {
    background: $menu-background;
  }

  &__logo {
    display: inline-block;
    margin: 0;

    img {
      height: 28px;
      padding: 0 30px;
      margin: 1.5em 1em;

      @media (min-width: 820px) {
        height: 30px;
        border-right: 1px solid $menu-gray;
      }
    }
  }

  &__slogan {
    display: none;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: $menu-gray;

    @media (min-width: 820px) {
      display: inline-block;
    }
  }

  &__cta {
    position: relative;
    display: none;
    float: right;
    padding: 0.75em 2em;
    margin: 2em 2em 1em;
    font-weight: 200;
    background: $secondary-red;

    @media (min-width: 820px) {
      display: inline-block;
    }
  }

  &__menu {
    position: relative;
    top: -4em;
    z-index: $menu-z;
    display: none;
    width: 100%;
    transition: all 0.25s ease-in-out;

    h4 {
      text-transform: lowercase;
    }

    ul {
      padding: 0;
    }

    li {
      width: 100%;
      padding: 2em 0 1em;
      font-weight: 200;
      border-bottom: 1px solid $menu-text;

      a {
        color: $white;
        text-decoration: none;
      }
    }

    &--open {
      display: block;
      height: 100vh;
      padding: 3em 3em 0;
      overflow: auto;
      font-size: 1.5em;

      @media (min-width: 820px) {
        padding: 6em 9em 0;
      }

    }
  }
}
