.c-post {
  position: relative;
  overflow: hidden;
  background: $gray;

  @include at(60em) {
    display: flex;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    @include at(60em) {
      position: relative;
      flex: 1 1 50%;
      max-height: 350px;
    }

    img {
      width: 100%;
      min-height: 100%;

      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    top: 0;
    z-index: 10;
    padding: 1em 2em;
    background: $background-transparent;

    @include at(60em) {
      position: initial;
      flex: 1 1 50%;
    }
  }

  &__title a {
    color: $white;
    text-decoration: none;
  }

  &__text {
    max-width: 40em;
    padding: 0 1em;
    margin: 4em auto;
    line-height: 1.8;
  }
}
