.services {
  @include at(40em) {
    display: flex;
    flex-flow: row wrap;
  }

  &__title {
    padding: 1em;
    font-family: 'Poppins';
    font-size: 0.78em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background: $black;

    @include at(40em) {
      flex: 1 1 0;
      order: 1;
    }

    ::after {
      display: block;
      font-family: FontAwesome;
      content: '\f107';
    }

    &.is-active {
      background: $tabs-gray;

      ::after {
        content: '\f106';
      }
    }

    h3 {
      display: inline;
      margin: 0;
      font-weight: 400;

    }

    img,
    svg {
      display: block;
      width: 40%;
      margin: 1em auto;
    }
  }

  &__description {
    flex: 0 0 100%;
    padding: 0 1em 1em;
    font-size: 0.9em;
    font-weight: 100;
    background: $tabs-gray;

    @include at(40em) {
      order: 2;
      padding: 3em;
    }

    &.is-hidden {
      display: none;
    }

    + .services__title {
      border-top: 1px solid $tabs-gray;

      @include at(40em) {
        border-top: 0;
        border-left: 2px solid $tabs-gray;
      }
    }
  }
}
