.button {
  display: block;
  margin: 2em auto;
  font-family: 'Poppins';
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.14em;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  &--black {
    color: $white;
    background: $black;
  }
}
