.menu-button {
  position: relative;
  display: block;
  float: right;
  width: 28px;
  height: 21px;
  margin: 2em 1.5em 0.5em;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;

  @media (min-width: 820px) {
  }


  &::before {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -20px;
    border-left: 1px solid $menu-gray;
    content: '';
  }

  span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: $menu-gray;
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;


    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }

  &.open span {

    &:nth-child(1) {
      top: 10px;
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      left: -30px;
      opacity: 0;
    }

    &:nth-child(3) {
      top: 10px;
      transform: rotate(-135deg);
    }
  }
}
