.share-bar {
  padding: 1em;
  color: $white;
  text-align: right;
  background: $background;

  &__content {
    max-width: 40em;
    margin: auto;
  }

  &__icon {
    padding: 0 0.25em;
    color: $white;
    text-decoration: none;
  }
}
