.site-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 3em 2em;
  margin: auto;
  color: $light-gray;
  background: $dark-gray;

  @include before(40em) {
    flex-direction: column;
    padding: 1em;
  }

  > div {
    flex: 1 1 0;
    padding: 1em;
    font-size: 0.8em;
    line-height: 1.6;
    text-align: center;
  }

  svg {
    width: 100%;
    max-height: 30px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__social-media {
    text-align: center;

    .fa-stack {
      margin-right: 0.5em;
      font-size: 1.5em;

      @include at(30em) {
        font-size: 1.8em;
      }
    }
  }
}
