.contacto {
  min-height: 100vh;
  padding: 5em 2em 3em;
  color: $white;
  background: $dark-gray;

  @include at(40em) {
    display: flex;
    align-content: space-around;

    &__form,
    &__contact-info {
      flex: 1 1 0;
      margin: 1em;
    }
  }

  &__contact-info {
    width: 100%;
  }

  &__address {
    font-family: Poppins;
    font-size: 0.7em;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.11em;
    color: $light-gray;
    text-transform: uppercase;
  }

  &__map {
    width: 100%;
    height: 360px;
  }
}
