.home-about {
  padding: 1.5em;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: $white;
  text-align: center;
  background: $background;

  &::after {
    display: table;
    clear: both;
    content: '';
  }

  &__text {
    position: relative;
    max-width: 50em;
    margin: auto;
    font-size: 0.9em;
    font-weight: 200;

    img {
      bottom: -7em;
      width: 100%;
    }
  }

  &__title {
    letter-spacing: 0.1em;
  }
}

.home-blog {
  color: $white;
  background: $background;

  &__title {
    text-align: center;
  }
}

.home-info {
  @extend %clearfix;
  padding: 2em;
  text-align: center;
}

.home-requests {
  padding: 2em 1em;
  background: $requests-background;

  @include at(40em) {
    .form {
      display: flex;

      div {
        flex: 1 1 0;
        padding: 0 3em;
      }
    }
  }

  &__title {
    height: auto;
    margin: 2em auto;
    text-align: center;
  }
}

.home-payments {
  padding: 2em;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  background: $payments-background;

  h2 {
    font-size: 1em;
  }

  .button {
    max-width: 250px;
    padding: 1em 3em;
  }
}

.home-ml {
  padding: 2em;
  color: $white;
  text-align: center;
  background: $primary-red;

  img {
    max-width: 80%;
    margin: 1em;
  }

  &__title {
    font-weight: 400;

    @media (min-width: 720px) {
      display: inline-block;
    }
  }

  &__button {
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 1em 3em;
    margin: 2em auto;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    background: $background;

    @media(min-width: 720px) {
      display: inline-block;
    }
  }
}

.home-map {
  color: $white;
  text-align: center;
  background: $footer-gray;

  &__container {
    padding: 1em;
  }

  &__map-container {
    width: 100%;
    height: 70vh;
  }
}
