.nosotros-about {
  @extend %clearfix;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5em;
  color: $white;
  // Middleman helper function.
  // scss-lint:disable NameFormat ;
  background: image_url('fondo-nosotros.jpg') center / cover;

  &__text {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    max-width: 600px;
    margin: 2.9em auto;
    font-weight: 200;
    text-align: center;
  }

  &__services {
    flex: 1 1 0;
    line-height: 1.2;
    text-align: center;
  }
}
