.post {

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    color: $white;
    text-align: center;
    background-size: cover;
  }

  &__text {
    max-width: 40em;
    padding: 0 1em;
    margin: 3em auto;
    line-height: 1.5;
  }
}
