---
title: Blog
page_class: black-bg
---

.blog
  h2 Blog

  section
    - blog.articles.each_with_index do |article, index|
      article.c-post
        - if index.odd?
          .c-post__image
            = image_tag article.data.cover_image
        .c-post__content
          h3.c-post__title.diagonal-title
            = link_to article.title,
              article.url
          = article.summary
          = link_to 'Leer más',
            article.url,
            :class => 'button'
        - if index.even?
          .c-post__image
            = image_tag article.data.cover_image
