---
Title: Contacto
has_map: true
---

section.contacto
  main.contacto__form
    h2 contacto
    form.form(
    method="POST"
    action="https://formspree.io/contacto@tusautopartes.com.mx")
      label for="nombre" Nombre:
      input type="text" name="nombre"
      label for="email" Correo:
      input type="text" name="email"
      label for="_subject" Asunto:
      input type="text" name="_subject"
      input type="text" name="_gotcha" style="display: none"
      label for="mensaje" Mensaje
      textarea name="mensaje" rows="5"
      button.contacto__send type="submit" Enviar Mensaje
  aside.contacto__contact-info
    h2 dirección
    p.contacto__address
      ' Boulevar Esteban de Antuñano 2905
      br
      ' Código Postal 72160
      br
      ' Puebla de Zaragoza
      br
      ' Teléfono 222 289 81 60
      br
    #map.contacto__map
