---
title: Repsol
has_map: true
---

section#hero-image.hero-image
  .hero-image__slide style="background: url('images/1.jpg') center / cover"
    .hero-image__content
      h2.hero-image__text
        | Autopartes<br />Nuevas y Usadas
      = link_to 'Solicitar autopartes',
        '#requests',
        :class => 'hero-image__button button'
      = link_to 'Conocer más',
        '/nosotros.html',
        :class => 'hero-image__button button'

section#home-about.home-about
  main.home-about__text
    h3.home-about__title.diagonal-title Escuchamos el Latir del Motor
    p Estamos establecidos desde hace más de 6 años y vendemos a nivel nacional,
      precios altamente competitivos con la calidad de excelencia que
      proporcionan las autopartes originales.
    = image_tag '4.png'
  footer.services
    - data.services.home.each do |service|
      .services__title.js-head
        = partial "images/#{service.image}"
        h3 = service.name
      .services__description.js-content
        = service.description

.home-blog
  header.home-blog__title
    h2.diagonal-title Nuestro blog
  - blog.articles[0...2].each_with_index do |article, index|
    article.c-post
      - if index.odd?
        .c-post__image
          = image_tag article.data.cover_image
      .c-post__content
        h3.c-post__title.diagonal-title
          = link_to article.title,
            article.url
        = article.summary
        = link_to 'Leer más',
          article.url,
          :class => 'button'
      - if index.even?
        .c-post__image
          = image_tag article.data.cover_image

section.home-ml
  h2.home-ml__title Recomendados en:
  = image_tag 'mercadolibre.png'
  = link_to 'Visitar la tienda',
    'http://perfil.mercadolibre.com.mx/AUTOPARTES+REP-SOL',
    :class => 'home-ml__button button'

section.home-info
  header
    h2.diagonal-title Experiencia de venta
  .info-box
    = image_tag 'cliente-feliz.png'
    p.info-box__number 85+
    h3.info-box__item
      b Clientes
      br
      ' Satisfechos
  .info-box
    = image_tag 'partes-nuevas.png'
    p.info-box__number 135+
    h3.info-box__item
      b Piezas
      br
      ' Vendidas
  .info-box
    = image_tag 'camion-envios.png'
    p.info-box__number 50+
    h3.info-box__item
      b Envíos
      br
      ' realizados

section#requests.home-requests
  header.home-requests__title
    h2.diagonal-title Zona de pedidos
  form.form(action="https://formspree.io/contacto@tusautopartes.com.mx"
  method="POST")
    div
      label for="nombre" Nombre:
      input type="text" name="nombre"
      label for="_replyto" Correo:
      input type="text" name="_replyto"
      label for="_subject" Asunto:
      input type="text" name="_subject"
      input type="text" name="_gotcha" style="display:none"
    div
      label for="mensaje" Mensaje
      textarea name="mensaje" rows="5"
      button.contacto__send type="submit" Enviar Mensaje

section.home-payments
  h2 Realiza tus pagos por PayPal
  = link_to 'Realiza tus pagos',
    'https://paypal.me/repsolautopartes',
    :class => 'button button--black'

footer.home-map
  .home-map__container
    h2.diagonal-title Nuestra ubicación
  div#map.home-map__map-container
