---
title: Repsol
---

section.nosotros-about
  main.nosotros-about__text
    .cajita
      h3.home-about__title.diagonal-title Repsol e Ideales
      p
        ' Somos una empresa con un concepto renovado en Puebla. Estamos
        ' establecidos desde hace más de 6 años y vendemos a nivel nacional,
        ' precios altamente competitivos con la calidad de excelencia
        ' que proporcionan las autopartes originales. Entendemos no sólo de
        ' venta de autopartes sino de todo lo relacionado al automóvil.
        br
        br
        b Garantizamos que tu automóvil encuentre el repuesto que
          requiera de la mejor calidad y al mejor precio.
  footer.services
    - data.services.nosotros.each do |service|
      .services__title.js-head
        h3 = service.name
      .services__description.js-content
        = service.description
